In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import pickle

In [22]:
df = pd.read_csv("./toySales.csv")

In [23]:
df.head()

   Month  Unitsales  Price   Adexp   Promexp
0      1      73959    8.75   50.04     61.13
1      2      71544    8.99   50.74     60.19
2      3      78587    7.50   50.14     59.16
3      4      80364    7.25   50.27     60.38
4      5      78771    7.40   51.25     59.71

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Month      24 non-null     int64
 1   Unitsales  24 non-null     int64
 2   Price      24 non-null     float64
 3   Adexp      24 non-null     float64
 4   Promexp    24 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 1.1 KB

In [25]:
df.describe()

           Month     Unitsales     Price      Adexp    Promexp
count  24.000000     24.000000  24.000000  24.000000  24.000000
mean   12.500000  74258.291667   8.131667  50.153333  59.875833
std     7.071068   3164.394612   0.506666   1.279119   0.682215
min     1.000000  69003.000000   7.250000  48.000000  58.000000
25%     6.750000  71959.500000   7.900000  49.405000  59.635000
50%    12.500000  74103.000000   8.150000  50.120000  59.895000
75%    18.250000  76354.500000   8.425000  50.772500  60.237500
max    24.000000  80364.000000   8.990000  54.000000  61.130000

In [26]:
main = df.copy()

In [27]:
X = np.array(df['Unitsales']).reshape(len(df['Unitsales']), 1)

In [28]:
y = np.array(df['Price '].copy())

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [30]:
print(X_train, y_train)

[[74893]
 [71544]
 [78587]
 [69003]
 [70987]
 [71880]
 [72582]
 [80364]
 [73345]
 [76253]
 [78771]
 [74247]
 [71986]
 [75643]
 [73959]
 [72543]] [8.1  8.99 7.5  8.4  7.99 8.7  8.2  7.25 7.9  8.1  7.4  8.3  8.5  8.25
 8.75 8.  ]

In [31]:
mlr = LinearRegression()

In [32]:
mlr.fit(X_train, y_train)

LinearRegression()

In [33]:
mlr.intercept_

16.617835916033854

In [34]:
print(y_test)

[7.99 8.4  7.4  8.5  8.99 7.9  7.25 8.4 ]

In [35]:
mlr.predict(X_test)

array([7.91276874, 8.21002051, 7.6452193 , 8.65521272, 8.7327815 ,
       7.82080576, 7.8603327 , 8.06299398])

In [36]:
with open("mlr.pkl", 'wb') as file:
    pickle.dump(mlr, file)

In [40]:
input = np.array([73959]).reshape(1,1)
output = mlr.predict(input)
print(output)

[8.16877996]